<a href="https://colab.research.google.com/github/BiplobKarmakar/ODI_cricket_analysis-/blob/main/multiplechoice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd

In [8]:
friends_s1 = pd.DataFrame()
friends_s1["character"] = ["Rachel Green", "Ross Geller", "Phoebe Buffey","Joey Tribbiani","Monica geller","Chantler Bing"]
friends_s1["Name"] = ["Jenifer Anistin", "David Schwimmer", "Lisa Kudr","Matt Leblanc","Courteney Cox","Mathew Perry"]
friends_s1["Birthday"] = ["1969-02-11", "1966-11-02", "1963-07-30", "1967-07-25","1964-06-15","1969-08-19"]

display(friends_s1)
# print(type(df_A))
print(friends_s1.shape)

        character             Name    Birthday
0    Rachel Green  Jenifer Anistin  1969-02-11
1     Ross Geller  David Schwimmer  1966-11-02
2   Phoebe Buffey        Lisa Kudr  1963-07-30
3  Joey Tribbiani     Matt Leblanc  1967-07-25
4   Monica geller    Courteney Cox  1964-06-15
5   Chantler Bing     Mathew Perry  1969-08-19

(6, 3)

In [9]:
friends_s2 = pd.DataFrame()
friends_s2["character_name"] = ["Rachel Green", "Ross Geller", "Phoebe Buffey","Joey Tribbiani","Monica geller","Chantler Bing","Richard Buske","Gunther","Emily Waltham","Mike Hannigan"]
#friends_s2["Name"] = ["Jenifer Anistin", "David Schwimmer", "Lisa Kudr","Matt Leblanc","Courteney Cox","Mathew Perry"]
friends_s2["Gender"] = ["Female","Male","Female","Male","Female","Male","Male","Male","Female","Male"]

display(friends_s2)
# print(type(df_A))
print(friends_s2.shape)

   character_name  Gender
0    Rachel Green  Female
1     Ross Geller    Male
2   Phoebe Buffey  Female
3  Joey Tribbiani    Male
4   Monica geller  Female
5   Chantler Bing    Male
6   Richard Buske    Male
7         Gunther    Male
8   Emily Waltham  Female
9   Mike Hannigan    Male

(10, 2)

In [10]:
friends_right = friends_s1.merge(friends_s2, how='right', left_on='character', right_on='character_name');
display(friends_right)
print(friends_right.shape)

        character             Name    Birthday  character_name  Gender
0    Rachel Green  Jenifer Anistin  1969-02-11    Rachel Green  Female
1     Ross Geller  David Schwimmer  1966-11-02     Ross Geller    Male
2   Phoebe Buffey        Lisa Kudr  1963-07-30   Phoebe Buffey  Female
3  Joey Tribbiani     Matt Leblanc  1967-07-25  Joey Tribbiani    Male
4   Monica geller    Courteney Cox  1964-06-15   Monica geller  Female
5   Chantler Bing     Mathew Perry  1969-08-19   Chantler Bing    Male
6             NaN              NaN         NaN   Richard Buske    Male
7             NaN              NaN         NaN         Gunther    Male
8             NaN              NaN         NaN   Emily Waltham  Female
9             NaN              NaN         NaN   Mike Hannigan    Male

(10, 5)

In [11]:
friends_left = friends_s1.merge(friends_s2, how='left', left_on='character', right_on='character_name');
display(friends_left)
print(friends_left.shape)

        character             Name    Birthday  character_name  Gender
0    Rachel Green  Jenifer Anistin  1969-02-11    Rachel Green  Female
1     Ross Geller  David Schwimmer  1966-11-02     Ross Geller    Male
2   Phoebe Buffey        Lisa Kudr  1963-07-30   Phoebe Buffey  Female
3  Joey Tribbiani     Matt Leblanc  1967-07-25  Joey Tribbiani    Male
4   Monica geller    Courteney Cox  1964-06-15   Monica geller  Female
5   Chantler Bing     Mathew Perry  1969-08-19   Chantler Bing    Male

(6, 5)

In [12]:
friends_inner = friends_s1.merge(friends_s2, how='inner', left_on='character', right_on='character_name');
display(friends_inner)
print(friends_inner.shape)

        character             Name    Birthday  character_name  Gender
0    Rachel Green  Jenifer Anistin  1969-02-11    Rachel Green  Female
1     Ross Geller  David Schwimmer  1966-11-02     Ross Geller    Male
2   Phoebe Buffey        Lisa Kudr  1963-07-30   Phoebe Buffey  Female
3  Joey Tribbiani     Matt Leblanc  1967-07-25  Joey Tribbiani    Male
4   Monica geller    Courteney Cox  1964-06-15   Monica geller  Female
5   Chantler Bing     Mathew Perry  1969-08-19   Chantler Bing    Male

(6, 5)

In [13]:
friends_left1 = friends_s1.merge(friends_s2, how='left', left_on='character', right_on='character_name'); 
#how many missing values are present in the output dataframe? *

display(friends_left1)
print(friends_left1.shape)

        character             Name    Birthday  character_name  Gender
0    Rachel Green  Jenifer Anistin  1969-02-11    Rachel Green  Female
1     Ross Geller  David Schwimmer  1966-11-02     Ross Geller    Male
2   Phoebe Buffey        Lisa Kudr  1963-07-30   Phoebe Buffey  Female
3  Joey Tribbiani     Matt Leblanc  1967-07-25  Joey Tribbiani    Male
4   Monica geller    Courteney Cox  1964-06-15   Monica geller  Female
5   Chantler Bing     Mathew Perry  1969-08-19   Chantler Bing    Male

(6, 5)

In [14]:
friends_outer = friends_s1.merge(friends_s2, how='outer', left_on='character', right_on='character_name');
# What's the shape of the output dataframe? friends_outer = friends_s1.merge(friends_s2, how='outer', left_on='character', right_on='character_name'); 
display(friends_outer)
print(friends_outer.shape)

        character             Name    Birthday  character_name  Gender
0    Rachel Green  Jenifer Anistin  1969-02-11    Rachel Green  Female
1     Ross Geller  David Schwimmer  1966-11-02     Ross Geller    Male
2   Phoebe Buffey        Lisa Kudr  1963-07-30   Phoebe Buffey  Female
3  Joey Tribbiani     Matt Leblanc  1967-07-25  Joey Tribbiani    Male
4   Monica geller    Courteney Cox  1964-06-15   Monica geller  Female
5   Chantler Bing     Mathew Perry  1969-08-19   Chantler Bing    Male
6             NaN              NaN         NaN   Richard Buske    Male
7             NaN              NaN         NaN         Gunther    Male
8             NaN              NaN         NaN   Emily Waltham  Female
9             NaN              NaN         NaN   Mike Hannigan    Male

(10, 5)

In [15]:
friends_right = friends_s1.merge(friends_s2, how='right', left_on='character', right_on='character_name'); 
#What's the shape of the output dataframe? *
display(friends_right)
print(friends_right.shape)

        character             Name    Birthday  character_name  Gender
0    Rachel Green  Jenifer Anistin  1969-02-11    Rachel Green  Female
1     Ross Geller  David Schwimmer  1966-11-02     Ross Geller    Male
2   Phoebe Buffey        Lisa Kudr  1963-07-30   Phoebe Buffey  Female
3  Joey Tribbiani     Matt Leblanc  1967-07-25  Joey Tribbiani    Male
4   Monica geller    Courteney Cox  1964-06-15   Monica geller  Female
5   Chantler Bing     Mathew Perry  1969-08-19   Chantler Bing    Male
6             NaN              NaN         NaN   Richard Buske    Male
7             NaN              NaN         NaN         Gunther    Male
8             NaN              NaN         NaN   Emily Waltham  Female
9             NaN              NaN         NaN   Mike Hannigan    Male

(10, 5)

In [16]:
df_A = pd.DataFrame()
df_A["Name"]=["Kawsar","Tasnim","Jakir"]
df_A["Address"]=["Houston","Boise","Tampu"]
df_A["University"]=["USF","BSU","USF"]

display(df_A)
print(df_A.shape)

     Name  Address University
0  Kawsar  Houston        USF
1  Tasnim    Boise        BSU
2   Jakir    Tampu        USF

(3, 3)

In [19]:
df_B = pd.DataFrame()
df_B["Name"]=["Kawsar","Tasnim","Riad"]
df_B["Department"]=["EE","CS","EE"]

display(df_B)
print(df_B.shape)

     Name Department
0  Kawsar         EE
1  Tasnim         CS
2    Riad         EE

(3, 2)

In [20]:
df_inner1 = df_A.merge(df_B, how='inner', left_index=True, right_index=True) 
display(df_inner1)
#df_inner = df_A.merge(df_B, how='inner', left_index=True, right_index=True)

   Name_x  Address University  Name_y Department
0  Kawsar  Houston        USF  Kawsar         EE
1  Tasnim    Boise        BSU  Tasnim         CS
2   Jakir    Tampu        USF    Riad         EE

In [21]:
df_inner2 = df_A.merge(df_B, how='inner', left_index=True, right_index=True) 
display(df_inner2)
#df_inner = df_A.merge(df_B, how='inner', left_index=True, right_index=True)

   Name_x  Address University  Name_y Department
0  Kawsar  Houston        USF  Kawsar         EE
1  Tasnim    Boise        BSU  Tasnim         CS
2   Jakir    Tampu        USF    Riad         EE

In [23]:
df_inner3 = df_A.merge(df_B, how='inner', left_index=True, right_index=True)

display(df_inner3)
print(df_inner3.shape)
#What's the shape of the output dataframe df_inner? df_inner = df_A.merge(df_B, how='inner', left_index=True, right_index=True) *

   Name_x  Address University  Name_y Department
0  Kawsar  Houston        USF  Kawsar         EE
1  Tasnim    Boise        BSU  Tasnim         CS
2   Jakir    Tampu        USF    Riad         EE

(3, 5)